@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Alatsi&display=swap');

*{
margin: 0;
font-family: 'Josefin Sans', sans-serif;
}

#index_wrapper{

    display: grid;
    width: 100%;
    height: 100%;

    grid-template-areas:  
    'hd hd hd hd'
    'a1 a1 a1 a1'
    's2 s2 s2 s2'
    'fo fo fo fo'
    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 800px 700px 700px 150px ;
}

.header{
    grid-area: hd;
    background-image: url('../img/bakgrund1_ps.jpg');
    background-attachment: fixed;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    flex-wrap: wrap;
}

.title{
    align-self: center;
    color: wheat; 
    margin-top: 250px;
    text-shadow: 2px 3px 3px black;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.under_title{
    margin-bottom: 300px;
    color: wheat;
    font-size: 40px;
    text-shadow: 2px 3px 3px black;
    letter-spacing: 3px;
}

.nav{
    padding-right: 110px;
    padding-left: 30px;
    background: rgba(13, 95, 172, 0.7);
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    grid-column: 1 / 5;
    grid-row: 1 / 1;
    height: 80px;
}

.nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav > ul > li > a {

    margin-left: 70px;
    padding: 14px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    background: rgb(255, 153, 64);
    border-radius: 5px;
    transition: 200ms;    
}

.nav > ul > li > a:hover {
    background:wheat;
    font-size: 30px;
    transition: 200ms;
}

.nav > ul > li > .at_link{
    background-color:  rgb(13, 157, 219);  
}

.nav_logo_img {
    max-width: 70px;
    padding-top: 5px;
    transition: 500ms;
    
}

.nav_logo_img:hover {
    max-width: 80px;
    transition: 200ms; 
}

.news_hours{
    grid-area: a1;
    background: palegreen;
    display: grid;

    width: 100%;
    height: 100%;

    grid-template-areas:  
    'ne ho'
    ;

    grid-template-columns: auto 500px ;
    grid-template-rows: 1fr;
}

.hours{
    grid-area: ho;
    background: rgb(13, 157, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 45px;
}

.hours > h1{
    font-size: 60px;
    margin-bottom: 100px;
}

.hours > p{
    padding: 20px;
    font-size: 35px;
}

.time{
    margin-top: -20px;
    margin-bottom: 30px;
}

.news{
    background: rgb(255, 153, 64);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    padding-top:45px;
    padding-left:60px ;
    padding-right: 60px;
    padding-bottom: 20px;

    flex: 1; 
}

.news > h1{ 
    font-size: 60px;
    padding-bottom: 30px;
}

.news_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    flex-wrap: nowrap;
}

.news_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 25px;
}

.news_img{
    flex: 30%
}

.news_img > img{
    height: auto;
    width: 120px;
    border-radius: 10px;
}

.news_title{
    font-size: 35px;
    flex: 60%
}

.news_price{
    font-size: 25px;
    flex: 10%;
}

#om_oss{
    grid-area: s2;
    background-image: url('../img/bakgrund2_ps.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-position: 0% 50% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.om_oss_title > h1{
    color: wheat;
    font-size: 60px;
    text-shadow: 2px 3px 3px black;
    letter-spacing: 3px;
    margin-bottom: 100px;
    margin-top: 70px;
}

.om_oss_content > p{
    color: wheat;
    text-shadow: 2px 3px 3px black;
    font-size: 30px;
    margin-bottom: 80px;
}

#om_oss >img{
    max-width: 150px;
}

.footer{
    grid-area: fo;
    background: rgb(13, 95, 172);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.footer_content{ 
    font-size: 30px;
    letter-spacing: 1px;
    position: absolute; 
}

.footer_wrapper > img{
    max-width: 80px;
    height: auto;
    align-self: flex-start;

    margin-left: 30px;
}

/*MENY MENY MENY MENY MENY*/


#meny_wrapper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    'hd hd hd hd'
    'fo fo fo fo'
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2900px 150px;
}

#meny_wrapper > header{
    background: url('../img/meny_background_ps.jpg');
    background-position: 0px -100px;
    background-size: cover;
    justify-content: flex-start;
    background-attachment: fixed;
}

#meny_title{
    margin-top: 300px;
}

.meny_options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 170px;
}

.meny_options > li > a{
    padding:30px;
    text-decoration: none;
    color: wheat;
    font-size: 30px;
    transition: 300ms;   
}

.meny_options > li > a:hover{
    font-size: 35px;
    transition: 300ms;
}

.meny_food_title{
    font-size: 40px;
    color: wheat;
    text-shadow: 1px 2px 2px black;
    padding-top: 180px;
}

.meny_food{
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    display: flex;
    list-style: none;  
    flex-wrap: wrap; 
    max-height: 400px;
    margin-top: 60px;
}

.meny_food > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: wheat;
    text-shadow: 1px 2px 2px black;
}

.meny_food > li > h3{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 400;
}

.meny_food > li > p{
    font-size: 20px;
}

/* BOKA BORD BOKA BORD BOKA BORD BOKA BORD BOKA BORD*/

#boka_bord_wrapper{
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'tm tm ho ho'
    'fo fo fo fo'
    ;
    grid-template-rows: 800px 650px 150px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    background: url('../img/boka_bord_bakgrund_ps.jpg');
    background-size: cover;
    background-position: 0px -200px;
    background-attachment: fixed;
}

#boka_bord_header{
    background: none;
}

#boka_bord_title{
    margin-bottom: 270px;
}

.tel_mail{
    grid-area: tm;
    background: rgb(255, 153, 64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tel_mail > h3{
    font-size: 60px ;
}

.tel_mail > p{
    font-size: 50px;
    margin-top: 15px ;
}

.tel_mail > a{
    color: black;
    text-decoration: none;
    padding: 25px;
    background: rgb(13, 157, 219);
    border-radius: 15px;
    font-size: 30px;
    margin-top: 60px;
    transition: 200ms;
    padding-right: 35px;
    padding-left: 35px;
}

.tel_mail > a:hover{
    background:wheat;
    font-size: 40px;
    transition: 200ms;
}

.koordinater{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 200;
    font-weight: 600;
}

.ko_norr{
    margin-right: 30px;
}